{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>My Bookings</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Booking Date</th>
                <th>Seats</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.destination.travel_type }}: {{ booking.destination.source }} → {{ booking.destination.destination }}</td>

                <td>{{ booking.booking_date|date:"d M Y H:i" }}</td>
                <td>{{ booking.seats }}</td>
                <td>₹{{ booking.total_price }}</td>
                <td>{{ booking.status }}</td>
                <td>
                    {% if booking.status != 'canceled' %}
                    <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger btn-sm">Cancel</a>
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No bookings yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
